@{
    ViewData["Title"] = "Error al Eliminar";
}

<style>
    img {
        max-width: 100%;
        height: auto;
        width: auto\9; /* ie8 */
    }

    #inner {
        width: 50%;
        margin: 0 auto;
        text-align: center;
    }
</style>


<div id="inner" class="row" style="padding-top:10px;">
    <img src="~/images/Stop.png" width="200" /> <br /><br />
    <h3>No se puede Eliminar porque está siendo referenciada por otros registros.</h3><br /><br />
    <a asp-action="Index" asp-controller="Categories" class="btn btn-success">Regresar</a>
</div>